# Pythonキャッシュファイル
*.pyc

# macOSの隠しファイル
.DS_Store

# 音声ファイル
*.wav
*.mp3

# 動画ファイル
*.mp4

# テキストファイル
*.tsv
*.csv

# notebookのチェックポイント
.ipynb_checkpoints

# mdcファイル
*.mdc

# secret_directoryの追加
secret_directory/