# Pythonキャッシュファイル
*.pyc

# macOSの隠しファイル
.DS_Store

# 音声ファイル
*.wav

# テキストファイル
*.tsv
*.csv

# notebookファイル
*.ipynb

# notebookのチェックポイント
.ipynb_checkpoints

# mdcファイル
*.mdc

# secret_directoryの追加
secret_directory/